@import "./mixins";
.mainPAge__wrapper {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.1) 100%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(../images/bg-image-1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 731px;
}

.main__header {
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: 1fr 1fr;
  align-items: center;
}
.web__nav {
  .nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

.yellow {
  border-top: 40px solid $primary-color;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid transparent;
  transform: rotate(51.99deg);
  width: 300px;

  position: absolute;
  right: 130px;
  top: -30px;
}
.while__line {
  border: 1px solid white;

  width: 300px;
  height: 40px;
  position: relative;

  transform: skew(-40deg);
}
.header__contact {
  text-align: end;
  padding-right: 20px;
}
.while__lone-box {
  transform: rotate(52deg);
  position: absolute;
  right: 160px;
  top: -60px;
  width: 301px;
}

.main__page-articles {
  text-align: center;
  .main__page-titel {
    @include text($style: normal, $weight: 800, $size: 4rem, $color: white);
  }
}
.start__text-wrapper {
  position: relative;
  width: 350px;
}
.start__text-box {
  width: 280px;

  background-color: $primary-color;
  transform: skew(-30deg);

  .start__text {
    transform: skew(30deg);
  }
}

.white__line-middle {
  display: inline-block;
  width: 280px;
  height: 60px;
  transform: skew(-30deg);
  border: 1px solid #fff;

  position: absolute;
  top: -8px;
  right: 50px;
}
